$black: #212226;
$yellow: #FFB400;
$blue: #1990FF;
$red: #BD1E2D;

$color-black-2: rgba($black, 0.02);
$color-black-4: rgba($black, 0.04);
$color-black-6: rgba($black, 0.06);
$color-black-8: rgba($black, 0.08);
$color-black-10: rgba($black, 0.1);
$color-black-24: rgba($black, 0.24);
$color-black-32: rgba($black, 0.32);
$color-black-40: rgba($black, 0.40);
$color-black-48: rgba($black, 0.48);
$color-black-56: rgba($black, 0.56);
$color-black-64: rgba($black, 0.64);
$color-black-72: rgba($black, 0.72);
$color-black-80: rgba($black, 0.80);
$color-black-88: rgba($black, 0.88);
$color-black-100:rgba($black, 1);

$color-yellow-2: rgba($yellow, 0.02);
$color-yellow-4: rgba($yellow, 0.04);
$color-yellow-6: rgba($yellow, 0.06);
$color-yellow-8: rgba($yellow, 0.08);
$color-yellow-10: rgba($yellow, 0.1);
$color-yellow-24: rgba($yellow, 0.24);
$color-yellow-32: rgba($yellow, 0.32);
$color-yellow-40: rgba($yellow, 0.40);
$color-yellow-48: rgba($yellow, 0.48);
$color-yellow-56: rgba($yellow, 0.56);
$color-yellow-64: rgba($yellow, 0.64);
$color-yellow-72: rgba($yellow, 0.72);
$color-yellow-80: rgba($yellow, 0.80);
$color-yellow-88: rgba($yellow, 0.88);
$color-yellow-100:rgba($yellow, 1);

$color-white-24: rgba(255, 255, 255, 0.24);
$color-white-48: rgba(255, 255, 255, 0.48);
$color-white-56: rgba(255, 255, 255, 0.56);
$color-white-64: rgba(255, 255, 255, 0.64);
$color-white-72: rgba(255, 255, 255, 0.72);
$color-white-80: rgba(255, 255, 255, 0.80);
$color-white-88: rgba(255, 255, 255, 0.88);
$color-white-96: rgba(255, 255, 255, 0.96);
$color-white-100: rgba(255, 255, 255, 1);


$color-red-2: rgba($red, 0.02);
$color-red-4: rgba($red, 0.04);
$color-red-6: rgba($red, 0.06);
$color-red-8: rgba($red, 0.08);
$color-red-10: rgba($red, 0.1);
$color-red-24: rgba($red, 0.24);
$color-red-32: rgba($red, 0.32);
$color-red-40: rgba($red, 0.40);
$color-red-48: rgba($red, 0.48);
$color-red-56: rgba($red, 0.56);
$color-red-64: rgba($red, 0.64);
$color-red-72: rgba($red, 0.72);
$color-red-80: rgba($red, 0.80);
$color-red-88: rgba($red, 0.88);
$color-red-100:rgba($red, 1);

$color-blue-2: rgba($blue, 0.02);
$color-blue-4: rgba($blue, 0.04);
$color-blue-6: rgba($blue, 0.06);
$color-blue-8: rgba($blue, 0.08);
$color-blue-10: rgba($blue, 0.1);
$color-blue-24: rgba($blue, 0.24);
$color-blue-32: rgba($blue, 0.32);
$color-blue-40: rgba($blue, 0.40);
$color-blue-48: rgba($blue, 0.48);
$color-blue-56: rgba($blue, 0.56);
$color-blue-64: rgba($blue, 0.64);
$color-blue-72: rgba($blue, 0.72);
$color-blue-80: rgba($blue, 0.80);
$color-blue-88: rgba($blue, 0.88);
$color-blue-100:rgba($blue, 1);

$color-warning-24: rgba(255, 204, 0, 0.24);

$color-green-20: rgba(52, 199, 89, 0.2);
$color-green-100: rgba(52, 199, 89, 1);

$color-purple-100: rgba(175, 82, 222, 1);

$color-coal-64: rgba(26, 27, 41, 0.64);

$color-red-100: rgba(241, 64, 25, 1);

$color-gray-96: rgba(238, 238, 238, 0.96);
